@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Inter:wght@400;700&display=swap');

*{
    box-sizing:border-box;
    font-family: 'Fraunces', serif;
    font-family: 'Inter', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #E5E5E5;
    overflow:hidden;
}

header img{
    margin-top: 30px;
}
.main{
    display: flex;
    justify-content:space-around;
}

textarea{
    width: 700px;
    height: 450px;
    padding: 10px;
    margin-left: 40px;
    vertical-align: top;
    background-color: #E5E5E5;
    color: #0A3871;
    border: none;
    font-weight: 400;
    font-size: 32px;
}

textarea:focus {
    outline: none;
}

textarea::placeholder {
    text-align: left;
    color: #0A3871;
}

.advertencia{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
}
.advertencia img{
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
.botones{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 40px;
}

.boton{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    padding: 24px;
    font-size: 18px;
    cursor: pointer;
}

#encriptar{
    height: 68px;
    border: none;
    background-color: #0A3871;
    color: #FFFFFF;
    text-align: center;
}
#desencriptar{
    border: 1px solid #0A3871;
    background-color:#D8DFE8;
    color: #0A3871;
    text-align: center;
}

.salida{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color:#FFFFFF;
    padding: 10px 50px;
    width: 400px;
    height: 600px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
.p1{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 0;
    display: block;
}
.p2{
    font-size: 18px;
    display: block;
}
.salida img{
    display: block;
}
.boton-container{
    margin-bottom: 20px;
    width: 100%;
}
.btnCopiar{
    cursor: pointer;
    width: 100%;
    height: 67px;
    border-radius: 24px;
    padding: 24px;
    background-color: #FFFFFF;
    font-size: 18px;
    display: none;
}